#!/bin/bash

test=`lxc exec RO -- netstat -putan | grep 9090`
while [ -z "$test" ] ; do 
        sleep 1
        test=`lxc exec RO -- netstat -putan | grep 9090`
done


lxc exec RO -- sh -c 'openmano datacenter-create admin-edge http://192.168.50.20/identity --type openstack --description "Admin Edge site"'
lxc exec RO -- sh -c 'export OPENMANO_TENANT=osm && openmano datacenter-attach admin-edge --user=admin --password=superf. --vim-tenant-name=admin'
lxc exec RO -- sh -c 'openmano datacenter-create app1-edge http://192.168.50.20/identity --type openstack --description "App1 Edge site"'
lxc exec RO -- sh -c 'export OPENMANO_TENANT=osm && openmano datacenter-attach app1-edge --user=admin --password=superf. --vim-tenant-name=MEC-app1'
lxc exec RO -- sh -c 'openmano datacenter-create app2-edge http://192.168.50.20/identity --type openstack --description "App2 Edge site"'
lxc exec RO -- sh -c 'export OPENMANO_TENANT=osm && openmano datacenter-attach app2-edge --user=admin --password=superf. --vim-tenant-name=MEC-app2'

exit 0